body,
html {
	background-color: #0b0d17
}

:root {
  --blue: #5e72e4;
  --indigo: #5603ad;
  --purple: #8965e0;
  --pink: #f3a4b5;
  --red: #f5365c;
  --orange: #fb6340;
  --yellow: #ffd600;
  --green: #2dce89;
  --teal: #11cdef;
  --cyan: #2bffc6;
  --white: #ffffff;
  --gray: #6c757d;
  --gray-dark: #32325d;
  --light: #ced4da;
  --lighter: #e9ecef;
  --primary: #e14eca;
  --secondary: #f4f5f7;
  --success: #00f2c3;
  --info: #1d8cf8;
  --warning: #ff8d72;
  --danger: #fd5d93;
  --light: #adb5bd;
  --dark: #212529;
  --default: #344675;
  --white: #ffffff;
  --neutral: #ffffff;
  --darker: black;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

b,
i {
	font-size: inherit;
	color: inherit
}

.background,
.background video {
	left: 50%;
	top: 50%;
	min-width: 100%;
	min-height: 100%;
	transform: translate(-50%, -50%);
	width: 100%
}

.nav-button.current,
.underlineable:hover {
	text-decoration: underline
}

.nav>a,
.nav>ul>li>a>span,
.nav>ul>li>ul>li>a {
	font-size: 2.5vh;
	color: #eee
}

.intro-1>p::after,
.intro-1>p::before {
	display: none;
	content: '';
	width: 7vh;
	background-color: transparent;
	height: 100%
}

#wholesale-products,
.nav,
.nav>ul>li>ul {
	text-align: left
}

.button,
.product-key-copy-box img,
.wholesale>form>input[type=submit],
a {
	cursor: pointer
}

.tos,
.wholesale {
	max-width: 80vmin
}

:root {
	--color-white: #ffffff;
	--color-deep-blue: #05070a;
	--color-dark: #0c111a;
	--color-light-blue: #fa1679;
	--color-carbon: #2c2e36;
	--color-green: #30ff79;
	--color-leather: #4d3f33
}

*,
::after,
::before {
	margin: 0;
	padding: 0;
	border: none;
	outline: 0;
	font-size: 0;
	font-weight: 400;
	font-family: 'Open Sans', consolas, 'Courier Prime';
	box-sizing: border-box;
	border-radius: 0
}

.wholesale>div>div,
body,
html {
	width: 100%
}

html {
	height: 100%
}

body {
	min-height: 100%
}

a {
	text-decoration: none;
	font-size: inherit;
	color: var(--color-light-blue)
}

b {
	font-weight: 700
}

i {
	font-weight: italic
}

ul {
	list-style-type: none
}

.background {
	position: fixed;
	display: inline-block
}

.cobweb,
.nav>ul>li>ul,
.pumpkin,
main,
section {
	display: block
}

.background video {
	clip-path: circle(45vh at center);
	height: 100vh;
	position: absolute
}

.pumpkin {
	pointer-events: none;
	position: fixed;
	width: 100px;
	left: 50px;
	bottom: -10px;
	z-index: 5
}

.cobweb,
canvas {
	position: fixed;
	left: 0;
	top: 0;
	pointer-events: none
}

.cobweb {
	width: 300px;
	opacity: .1;
	z-index: 5
}

.assortment>ul>a,
.button,
.intro-1>p,
.nav>ul>li>a,
.product>div>div {
	position: relative
}

.button,
.nav a,
.nav>ul>li {
	display: inline-block
}

main {
	width: 100%;
	text-align: center;
	perspective: 1px
}

section {
	width: 100%
}

canvas {
	z-index: 99;
	width: 100%;
	height: 100%
}

.button {
	background-color: #18242e;
	border: none;
	color: #aaa;
	box-shadow: inset 0 0 0 1px #293b4a, 0 0 2px 1px #0e161c;
	transition: .7s;
	border-radius: 0
}

.button:hover {
	background-color: #1f3140;
	color: #fff
}

.button:disabled,
.wholesale>div>div.right>input:disabled {
	cursor: not-allowed
}

.button:hover:after,
.button:hover:before {
	border-color: #5a7f9e;
	transition: border-color, width .25s, height .25s;
	width: 100%;
	height: 100%
}

.button:after,
.button:before {
	border: 0 solid transparent;
	box-sizing: border-box;
	content: "";
	pointer-events: none;
	position: absolute;
	width: 0;
	height: 0;
	bottom: 0;
	right: 0
}

.button:before {
	border-bottom-width: 1px;
	border-left-width: 1px
}

.button:after {
	border-top-width: 1px;
	border-right-width: 1px
}

.button:hover:before {
	transition-delay: 0s, 0s, 0.25s
}

.button:hover:after {
	transition-delay: 0s, 0.25s, 0s
}

.nav-button,
.nav>ul>li>a:hover>span,
.nav>ul>li>ul>li:hover>a {
	color: #fff
}

.nav-button.dropdown {
	color: #fff;
	cursor: default !important
}

.nav-button.current {
	text-decoration-color: #fa1679 !important;
	text-underline-offset: 0.3vh
}

.nav {
	z-index: 5;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	height: 8.1vh;
	background-color: none;
	pointer-events: none;
	transition: background-color .2s ease-in-out
}

.modal,
.side-banner {
	z-index: 10;
	position: fixed;
	word-break: break-all;
	margin: auto
}

.nav.scrolled {
	background-color: #06070d
}

.nav * {
	pointer-events: auto
}

.nav .button {
	background: 0 0 !important;
	border: none !important
}

.nav>img {
	width: 5vh;
	height: 5vh;
	margin-left: 2vmin;
	vertical-align: middle
}

.nav a {
	padding: 2vh 2vmin;
	vertical-align: middle
}

.nav>a {
	padding: 2vh 4vmin !important
}

.nav>a>span {
	line-height: 0;
	font-size: 2.8vh;
	color: #fa1679
}

.nav>ul {
	margin-right: 0
}

.nav>ul>li {
	vertical-align: top;
	margin-left: .8vh
}

.nav>ul>li>a {
	font-size: 2.5vh
}

.nav>ul>li>a>img {
	vertical-align: middle;
	height: 4vh;
	margin-right: 2vh
}

@media (max-width:768px) {
	.wow-new-233698 {
		display: none !important
	}

	.nav>ul>li>a>span {
		font-size: 0 !important
	}
}

.nav>ul>li>ul {
	width: 26vh;
	position: absolute;
	border: 1px solid #9600fa;
	box-shadow: 0 0 2px #06070d;
	border-top: none;
	border-bottom: none;
	background-image: linear-gradient(to bottom, #06070d, #06070d);
	visibility: hidden;
	opacity: 0;
	transition: visibility, opacity 50ms linear
}

.nav>ul>li>ul>li {
	display: block;
	transition: .2s
}

.nav>ul>li>ul>li:hover {
	padding-left: 1vh;
	background-image: linear-gradient(to right, #aa1bc7, rgba(96, 55, 219, .45), transparent)
}

.nav>ul>li:hover>ul {
	opacity: 1;
	visibility: visible
}

.nav>ul>li>ul>li>a {
	padding-top: 1vh;
	padding-bottom: 1vh;
	width: 100%;
	text-shadow: -1px -1px 0 #111
}

.nav-links {
	float: right;
	display: inline-block;
	text-align: right
}

.footer,
.modal {
	text-align: center;
	left: 0
}

.nav-links>a+a {
	margin-left: .5vw
}

.side-banner {
	left: 0;
	color: var(--color-white);
	padding: .7vh 3vh;
	font-size: 1.8vh;
	background-color: #18376e;
	transform: rotate(-90deg);
	transform-origin: top left;
	bottom: 20vh
}

.modal {
	display: none !important;
	width: 70vmin;
	right: 0;
	padding: 6.5vh 4vh;
	color: #eee;
	font-size: 2.5vh;
	background-color: #06070d;
	border: 1px solid #293b4a;
	border-radius: 1px
}

.modal:target {
	top: 20vh;
	animation: .9s both modal-jello;
	display: block !important
}

.modal button {
	margin-top: 7vh;
	display: inline-block;
	font-size: 2.5vh;
	padding: 1vh 5vh
}

.modal-a-x {
	font-size: 4vh;
	color: var(--color-white);
	position: absolute;
	right: .9vh;
	top: -.3vh
}

.assortment>ul>a>img,
.assortment>ul>a>p,
.intro-1>p::after,
.intro-1>p::before,
.intro-parallax {
	top: 0;
	position: absolute
}

@keyframes modal-animation {
	0% {
		top: -20vh
	}

	100% {
		top: 35vh
	}
}

@keyframes modal-jello {

	0%,
	100% {
		transform: scale3d(1, 1, 1)
	}

	30% {
		transform: scale3d(1.25, .75, 1)
	}

	40% {
		transform: scale3d(.75, 1.25, 1)
	}

	50% {
		transform: scale3d(1.15, .85, 1)
	}

	65% {
		transform: scale3d(.95, 1.05, 1)
	}

	75% {
		transform: scale3d(1.05, .95, 1)
	}
}

.footer {
	position: fixed;
	bottom: 2.5vh;
	right: 0
}

.footer>p {
	opacity: .5;
	font-size: 1.5vh;
	color: #6d83a1
}

.intro-parallax {
	right: 0;
	bottom: -80vh;
	left: 0;
	transform: translateZ(-1px) scale(2.5);
	z-index: -1;
	background-size: cover;
	background-position: center;
	background-image: url("../images/parallax.png")
}

.intro-logo {
	position: fixed;
	left: 50%;
	top: 50%;
	display: block;
	transform: translate(-70vh, -40.7vh);
	opacity: .2;
	height: 116vh;
	width: 116vh
}

.intro-wow-left,
.intro-wow-right {
	position: fixed;
	top: 45vh;
	text-align: center
}

.intro-wow-left>img,
.intro-wow-right>img {
	vertical-align: middle;
	display: inline-block;
	width: 6vh;
	margin: 1vh
}

.intro-1>p,
.wholesale>form>input[type=text] {
	width: 30vh
}

.intro-wow-left>span,
.intro-wow-right>span {
	vertical-align: middle;
	display: inline-block;
	font-size: 3vh;
	color: #eee
}

.intro-wow-left {
	right: 77vw
}

.intro-wow-right {
	left: 77vw
}

.intro-1>p {
	border-bottom: .5vh solid rgba(165, 52, 235, .4);
	font-family: 'Courier Prime';
	margin-top: 54vh;
	padding: .4vh 0;
	font-size: 2.5vh;
	font-weight: 400;
	color: #fff;
	background: 0 0;
	display: inline-block;
	height: 4vh;
	backdrop-filter: blur(10px)
}

.assortment>h1,
.assortment>ul>a>p,
.assortment>ul>a>span,
.intro-2>div>h1,
.intro-2>div>p {
	color: var(--color-white)
}

.intro-1>p::before {
	right: 100%;
	border-top: 2vh solid rgba(165, 52, 235, .4);
	border-bottom: 2vh solid rgba(165, 52, 235, .4);
	border-left: 2vh solid transparent
}

.intro-1>p::after {
	left: 100%;
	border-top: 2vh solid rgba(235, 52, 83, .4);
	border-bottom: 2vh solid rgba(235, 52, 83, .4);
	border-right: 2vh solid transparent
}

.intro-2>div {
	padding: 5vh;
	background-color: var(--color-dark)
}

.intro-2>div>h1 {
	margin: 10vh 0;
	font-size: 3vh
}

.intro-2>div>p {
	margin: 10vh 0;
	font-size: 2.5vh
}

.intro-3>a {
	font-size: 2.5vh;
	margin: 30vh 0;
	padding: 2vh 3vw
}

.wholesale {
	padding-top: 10vh;
	padding-bottom: 10vh;
	display: inline-block
}

.wholesale>form>input {
	background-color: var(--color-deep-blue);
	color: #fff;
	margin-top: 5vh;
	font-size: 2vh
}

.wholesale>div {
	display: flex
}

.wholesale>div>div.right {
	padding-top: 20vh
}

.wholesale>div>div.right>p {
	padding: .5vh;
	color: #fff;
	font-size: 3vh
}

.wholesale>div>div.right>p>span {
	color: #fff;
	font-size: 3vh
}

.wholesale>div>div.right>input {
	margin-top: 2vh;
	color: #fff;
	background-color: #aaa;
	cursor: pointer;
	font-size: 3vh
}

#wholesale-products>span {
	margin-top: 1vh;
	display: inline-block;
	margin-left: 2vh;
	color: #fff;
	font-size: 2vh;
	width: 4vh
}

#wholesale-products>p {
	margin-top: 1vh;
	display: inline-block;
	margin-left: 2vh;
	color: #fff;
	font-size: 2vh
}

#wholesale-products>input {
	width: 10vh;
	display: inline-block;
	color: #fff;
	background-color: #222;
	font-size: 2vh
}

.assortment,
.cart,
.product {
	padding-bottom: 50vh
}

.assortment>h1 {
	font-size: 4vh;
	margin: 10vh 0
}

.assortment>ul {
	padding: 5vh 1vh;
	text-align: center
}

.assortment>ul>a {
	margin: 2.5vh;
	display: inline-block;
	width: 40vh;
	height: 20vh
}

.assortment>ul>a>p {
	text-align: center;
	height: 4.5vh;
	font-size: 3.5vh;
	display: inline-block;
	bottom: 1vh;
	left: 0;
	right: 0;
	text-shadow: 0 0 5px var(--color-dark);
	margin: auto
}

.assortment>ul>a>span {
	text-align: center;
	height: 4.5vh;
	font-size: 2vh;
	display: inline-block;
	position: absolute;
	bottom: -5vh;
	right: 0;
	left: 0;
	margin: auto
}

.assortment>ul>a>img {
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1
}

.product>div>div>iframe,
.product>div>div>video {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	overflow: hidden
}

.product>div {
	display: inline-block;
	vertical-align: top;
	margin: 0 5vmax
}

.product>div>h1 {
	font-size: 4vh;
	color: #fff;
	padding: 5vh 0
}

.product>div>h1>span {
	font-size: 2vh
}

.product>div>h2 {
	font-size: 3.5vh;
	padding-top: 12vh;
	padding-bottom: 2vh;
	font-weight: 700;
	color: #eee;
	text-shadow: -1px -1px 0 #111
}

.product>div>p {
	font-size: 2vh;
	color: var(--color-white)
}

.cart>ul,
.product>div>ul {
	padding: 2vh 0;
	display: inline-block;
	text-align: left
}

.cart>ul>li,
.product-feature-list>div>p,
.product>div>ul>li {
	color: var(--color-white);
	font-size: 2.5vh
}

.product-feature-list {
	display: table;
	height: 100%
}

.product-feature-list>div {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	padding: 2vh 0;
	height: 100%
}

.product-feature-list>div>div {
	--border-width: 0.5vmin;
	height: 50%;
	display: block;
	width: 4vmin;
	margin-left: 4vmin;
	position: relative
}

.product-feature-list>div>div::after,
.product-feature-list>div>div::before {
	content: "";
	box-sizing: content-box;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: 50%;
	width: 2vmin
}

.product-feature-list>div>div:first-child::before {
	left: -2vmin;
	top: 50%;
	border-right: var(--border-width) solid #6037db;
	border-bottom-right-radius: 100vh
}

.product-feature-list>div>div:first-child::after {
	border-left: var(--border-width) solid #6037db;
	border-top-left-radius: 100vh
}

.product-feature-list>div>div:last-child::before {
	left: -2vmin;
	border-right: var(--border-width) solid #6037db;
	border-top-right-radius: 100vh
}

.product-feature-list>div>div:last-child::after {
	top: 50%;
	border-left: var(--border-width) solid #6037db;
	border-bottom-left-radius: 100vh
}

.product-feature-list>div>ul {
	padding: .2vh
}

.product-feature-list>div>ul>li {
	color: var(--color-white);
	font-size: 2vh;
	font-weight: 700
}

.product>div>div {
	display: inline-block;
	width: 80vmin;
	height: 40vmin
}

@keyframes play-animation {

	0%,
	100% {
		width: 6vh;
		height: 6vh;
		border-width: 3vh 0 3vh 6vh
	}

	50% {
		width: 8vh;
		height: 8vh;
		border-width: 4vh 0 4vh 8vh
	}
}

.filter-fff {
	filter: invert(96%) sepia(4%) saturate(16%) hue-rotate(191deg) brightness(103%) contrast(109%)
}

.filter-ddd {
	filter: invert(84%) sepia(0%) saturate(0%) hue-rotate(143deg) brightness(102%) contrast(100%)
}

.filter-green {
	filter: invert(78%) sepia(55%) saturate(480%) hue-rotate(86deg) brightness(98%) contrast(98%)
}

.product-key-copy-box {
	display: block;
	background-color: #000;
	padding: 2vh;
	border-radius: 10px;
	border: 1px solid #5a7f9e
}

.product-key-copy-box>* {
	vertical-align: middle
}

.product-key-copy-box img {
	margin-left: 2vh;
	width: 4vh;
	height: 4vh
}

.product-key-copy-box input {
	text-align: center;
	width: 30vmin;
	font-size: 2vh;
	color: #fff;
	background-color: transparent;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}

.cart>h1,
.cart>h2,
.cart>ul>li>select,
.tos>h1,
.tos>h2,
.tos>p {
	color: var(--color-white)
}

.tos {
	padding-bottom: 50vh;
	display: inline-block
}

.tos>h1 {
	font-size: 4vh;
	padding-top: 9vh
}

.tos>h2 {
	font-size: 3vh;
	padding-top: 7vh;
	padding-bottom: 2vh;
	text-align: left
}

.tos>p {
	text-align: justify;
	font-size: 2vh
}

.cart>h1 {
	font-size: 4vh;
	padding: 6vh 0
}

.cart>h2 {
	font-size: 3vh;
	padding-top: 6vh
}

.cart>ul>li>a {
	margin-right: 1vh
}

.cart>ul>li>select {
	background-color: var(--color-carbon);
	font-size: 2.5vh
}

.cart>ul>li>select>option {
	color: inherit;
	background-color: inherit;
	font-size: inherit
}

.cart>form {
	margin-top: 7vh
}

.cart>form button {
	margin: 2vh;
	font-size: 2.5vh;
	padding: 1vh 1.5vh
}

.cart>form>img {
	z-index: 1;
	margin-bottom: -2vh;
	width: 15vh;
	height: 4vh
}
